[submodule "form-front"]
	path = form-front
	url = https://github.com/Aissam-salman/form-front.git
[submodule "Forme"]
	path = Forme
	url = https://github.com/Aissam-salman/Forme.git
	branch = Developpement
